<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <script src="main.js"></script> 
</head>
<body>


<div id="msg"></div>

  <div id="form">
<!--<form id="form" method="POST" action="/logar">-->
  Nome:<br>
  <input type="text" id="login" name="login" value="">
  <br>
  Senha:<br>
  <input type="password" id="senha" name="senha" value="">
  <br><br>
  <input type="submit"  id="submit" value="logar"/>
<!--</form>-->
  </div>

  <br>
  <div id="lista"></div>
  <div id="user"></div>


</body>
</html>
